@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
body {
font-family: 'Dancing Script', cursive , serif;
}
h1{
  color: #fff;
  font-size: 35px;
  text-align: center;
}
ul{
  list-style: none;
}
li{
  font-size: 2em;
  color: #feb135;
}
input[type=radio]{
  border: 0px;
  width: 20px;
  height: 2em;
}
/* Quiz classes */

.quizContainer{
  background-color: #000398;
  border-radius: 8px;
  width: 75%;
  margin: auto;
  margin-top: 100px;
  padding-top: 5px;
  position:  relative;
}
.nextButton{
  border-radius: 6px;
  width: 100px;
  height: 40px;
  text-align: center;
  background-color: #cc0000;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: auto;
  padding-top: 20px;
}
.question{
  font-size: 2em;
  width: 90px;
  height: auto;
  margin: auto;
  border-radius: 6px;
  background-color: #f2f205;
  text-align: center;
  color: white;
}
.quizMessage{
  background-color: peachpuff;
  border-radius: 6px;
  width: 30%;
  margin: auto;
  text-align: center;
  padding: 2px;
  color: red;
}
.choiceList{
  color: blueviolet;
  font-family: 'courier',Dancing Script, cursive , serif;
}
.result{
  width: 30%;
  height: auto;
  border-radius: 6px;
  background-color: linen;
  margin: auto;
  margin-bottom: 35px;
  text-align: center;
}